.container
  .row
    .col-xs-4
      h1 Posts
  table.table
    thead
      tr
        th Post
        th
        th Posted On
    tbody
      tr(ng-repeat='post in afPosts')
        td: h2.post.title {{post.title}}
        td
          button.btn.btn-sm.btn-info(ng-click='showBody = !showBody') Read
          button.btn.btn-sm.btn-danger(ng-click='deletePost(post)' ng-show='activeUser') Delete
          h3.postbody.post(ng-show='showBody') {{post.body}}
        td: h2 {{post.createdAt | date: 'MM-dd-yyyy'}}
