.row
  .col-xs-12
    a.twitter-follow-button(href='https://twitter.com/ClydeMarl', data-show-count='false', data-size='large') Follow @ClydeMarl
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
.container-fluid
  .row
    .col-xs-4
      h2 Latest
  table.table
    thead
      tr
        th Title
        th
        th Date
    tbody
      tr(ng-repeat='post in afPosts track by $index')
        td(ng-hide='showBody'): h3.post.title {{post.title}}
        td
          button.btn.btn-sm.btn-warning(ng-click='showBody = !showBody') More
          button.btn.btn-sm.btn-danger(ng-click='deletePost(post)' ng-show='activeUser') Delete
          h4(ng-show='showBody') {{post.title}}
          h6(ng-show='showBody') {{post.createdAt | date: 'MM-dd-yyyy'}}
          h5(ng-show='showBody') {{post.body.slice(0,400) + '...'}}
          button.btn.btn-xs.btn-success(ng-show='showBody' ng-click='openPost($index)') Read Full
        td(ng-hide='showBody'): h3 {{post.createdAt | date: 'MM-dd-yyyy'}}
