nav.navbar.navbar-default(ng-controller="NavCtrl")
  .containter-fluid
    .navbar-header
      button.button.navbar-toggle.collapsed(data-toggle="collapse" data-target="navbar")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home'): i.fa.fa-diamond &nbsp; C.M.
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref='contact'): i.fa.fa-paper-plane &nbsp; Contact Me
        li: a(ui-sref='home'): i.fa.fa-home &nbsp; Home
        li(ng-show='activeUser'): a(ui-sref='post'): i.fa.fa-bolt &nbsp; New Post
        li: a(ui-sref='login'): i.fa.fa-dashboard &nbsp; Admin Login
