.container
  .row
    .col-xs-6
      h1 Contact Me
      h2: a(href="http://clydemarl.me") Personal Website
      h3: a(href="marl.clyde@gmail.com") Email
      h3: a(href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button") LinkedIn
