h2 Contact Info

h4 Personal Website: www.clydemarl.me
h4 Email Address: marl.clyde@gmail.com
h4 LinkedIn Page 
  a(href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button") Here
h4 -----------------------Email Form Here------------------
